<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/public/react/css/react-dom.css" rel="stylesheet" />
  <link href="/public/react/css/react-main.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
</head>
<body>
  <script src="/public/react/js/react-dom.js" type="javascript"></script>
  <script src="/public/react/js/react-main.js" type="javascript"></script>
</body>
</html>